<div class="wrapper">
  <div class="container">
  <h1>schedule_edit</h1>
    <%= form_with model: @schedule_summary, url: schedule_path, method: :patch do |f| %>
      <%= f.text_field :name, class:"form-group"%>
      <%= f.text_field :password, class:"form-group"%>
    
    <h1>概要</h1>
      <%= f.text_field :title, class:"form-group"%>
      <%= f.text_area :content, class:"form-group"%>
      <%= f.submit "編集内容を保存", class:"form-group"%>
    <% end %>

    <h1>プラン</h1>
    <%= form_with url:"#" do |f| %>
      <%= f.date_field :hoge, placeholder: "", class:"form-group"%>
      <%= f.time_field :hoge, placeholder: "", class:"form-group"%>
      <%= f.text_field :hoge, placeholder: "タイトル", class:"form-group"%>
      <%= f.text_area :hoge, placeholder: "説明", class:"form-group"%>
      <%= f.submit "プラン追加", class:"form-group"%>
    <% end %>
  </div>
</div>