<div class="wrapper">
  <div class="container">
    <div id='schedule-new-btn' class='btn'>
      <%= link_to "新規作成",new_schedule_path%>
    </div>
    <div>
      <%# search Prefix %>
      <%= form_with(url: search_schedules_path, local: true, method: :get) do |f| %>
        <%= f.text_field :name ,placeholder: "name" %>
        <%= f.text_field :password ,placeholder: "password" %>
      <div class="btn-group">
        <%= f.submit '編集', class:"btn" %>
        <%= f.submit '印刷', class:"btn" %>
      <% end %>
      </div>
    </div>
  </div>
</div>
